<!-- template for the interactive contact form adapted from https://www.w3schools.com/howto/howto_css_contact_section.asp  -->

<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Contact Us - What 2 Eat</title>

            
        <!-- CSS FILES -->   
        <link href="../static/topnav.css" rel="stylesheet">
        <link href="../static/homepage.css" rel="stylesheet">


    </head>
    
    <body>
          <div class="topnav">
            <a href ="/">What2Eat </a>
            <a href="/help">Help</a>
            <a href="/contact">Contact</a>
          </div>

        <main>
          <div style="text-align:center">
            <h2>Connect With Us</h2>
            <h3> Have questions or suggestions? Please reach out to us!</h3>
            <p> chai@carleton.edu <br> hashimotok@carleton.edu</p>
          </div>
           




                  

        </main>

    
    </body>
</html>
