<html>
    <head>
        <title> 404 Error </title>
        <link href="../static/homepage.css" rel="stylesheet">
    </head>

    <body>

        <div style="text-align:center">
            
            <img class= "three" src="../static/images/broccoli.png" alt = "broccoli">
            <h1>404</h1>

            <h3> Page Not Found </h3>
            <p>The Page you are looking for doesn't exist or another error occured. Go to back to 
                <a href="/">Home Page</a></p>
        </div>
           

    </body>
</html>