<!DOCTYPE html>

<html>
    <head>
        <title> Help </title>
        <link rel="stylesheet" href="../static/bootstrap.min.css">
        <link href="../static/topnav.css" rel="stylesheet">
        <link href="../static/homepage.css" rel="stylesheet">

        <link href="../static/faq.css" rel="stylesheet">

    </head>
    <body>
        <div class="topnav">
            <a href ="/">What2Eat </a>
            <a href="/help">Help</a>
            <a href="/contact">Contact</a>
        </div>

        <div class="text-bg">
            <h2> FAQ/Troubleshooting </h2>
        </div>
        
        <button class="accordion">  How do I use this website? </button>
        <div class="panel">
        <p> To search for product ingredients, select a brand from the drop-down menu and type the product name. To search for all products carried by a brand, simply select a brand (no need to type in a product).</p>
        </div>

        <button class="accordion"> The brand/product I'm looking for doesn't show up.</button>
        <div class="panel">
            <p> Your brand/product may not be in our database if it is not recognized from the USDA, or is a more recent product released after 2018. </p>
        </div>

        <button class="accordion"> Where did all the product ingredient information come from? Is it trustworthy?</button>
        <div class="panel">
        <p>The information comes from the 
            <a href = "https://data.nal.usda.gov/dataset/usda-branded-food-products-database"> 
                US Department of Agriculutre Branded Food Products Database.
            </a>
        </p>
    
        </div>
    </div>

        <p> If your question is not listed here,  <a href="/contact"> contact us</a>! </p>

        <script src="../static/faq.js"></script>

        </body>
</html>