<!DOCTYPE html>
<html lang="en">
    <head>
        <title>What 2 Eat</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
        </script>  
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
        </script>  
        <script type="text/javascript" src="script.js">
        </script>
        
        <!-- CSS FILES -->   
        <link href="../static/topnav.css" rel="stylesheet">
        <link href="../static/homepage.css" rel="stylesheet">

    </head>

    <body>
        <!-- Top navigation bar --> 
        <div class="topnav">
            <a id="heading" href ="/">What2Eat  </a>
            <a href="/help">Help</a>
            <a href="/contact">Contact</a>
        </div>



        <div class="row">

            <!-- left hand side of the page -->
            <div class="column">
                <div class="text-bg">
                    <h1> What 2 Eat </h1>
                    <p>  Welcome! Browse 80,000+ branded foods and private label data provided by the food industry. 

                        <!-- Functionality 1: searching products by brands -->
                        <div class = "howToUse">
                            Select a brand to see what products it carries
                        </div>

                        <form action="displayproducts" method="post">
                            <select name="brandSearch">
                                {% for brand in brandList %}
                                <option value="{{brand}}">{{brand}}</option>
                                {% endfor %}
                            </select>
                            <input class="button" type="submit" value="Get Products">
                        </form>


                        <!-- Functionality 2: searching products ingredients -->
                        <div class = "howToUse">
                            Enter product name to view the full ingredient list
                        </div>
                        <form class="searchBox" action="displayingredients" method="post">
                            <input class="searchBox_fom" placeholder="product name" type="text" id="tags" name="product">
                            <script> 
                                $(function() {
                                    var availableTags = [
                                        {% for product in productList %}
                                            "{{product}}",
                                        {% endfor %}
                                    ];
                                    $( "#tags" ).autocomplete({
                                        source: availableTags
                                    });
                                } );
                            </script>
                            <input class="button" type="submit" value="Get Ingredients">
                        </form>

            </div>
        
            <!-- right hand side of the page -->
            <div class="column">
                  <img class = "one" src="../static/images/plate.jpeg" alt = "food plate">
            </div>
        </div> 


    </div>

   

    </body>
</html>


