<!DOCTYPE html>
<html>
    <head>
        <title>Ingredients in {{product}}</title>
        <link href="../static/topnav.css" rel="stylesheet">
        <link href="../static/homepage.css" rel="stylesheet">

    </head>
    <body>
        <div class="topnav">
            <a id="heading" href ="/">What2Eat  </a>
            <a href="/help">Help</a>
            <a href="/contact">Contact</a>
        </div>

        <div class="row">

            <!-- left hand side of the page -->
            <div class="column">
                <div class="text-bg">
                    <h2> What's in {{product}}? </h2>
                    <ul> 
                        {% for ingredient in ingredients: %}
                        <li>{{ingredient}}</option>
                        {% endfor %}
                    </ul>
                    <a href="/">Search different brands/products</a>
                </div>
            </div>
                
            <!-- right hand side of the page -->
            <div class="column">
                  <img class = "two" src="../static/images/food-pyramid.jpeg" alt = "food pyramid">
            </div>
            </div> 

        </div>
    </body>
    </html>

   
